######################
# Minimun requiments #
######################

numpy
scipy
scikit-learn
pandas
boto3
tqdm

############
# Rest API #
############

fastapi
uvicorn
pydantic
httpx

###############
# Development #
###############

pytest

#############
# Streamlit #
#############

streamlit
matplotlib

#####################
# Jupyter Notebooks #
#####################

jupyter
jupyterlab
ipywidgets

################
# Build System #
################

maturin
