######################
# Minimun requiments #
######################

numpy
scipy
scikit-learn
pandas

#sortedcontainers

################
# Experimental #
################

#hnswlib

###############
# Development #
###############

pytest

#####################
# Jupyter Notebooks #
#####################

jupyter
jupyterlab
ipywidgets

matplotlib

